<!DOCTYPE html>
<html>

<head>
    <title>
        <%=typeof title == 'undefined' ? 'New Sails App' : title%>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="/views/jquery.min.js"></script>
    <script src="/views/angular.min.js"></script>
    <script src="/views/angular-route.min.js"></script>
    <script src="/views/bootstrap.min.js"></script>
    <script src="assets/js/angular/app.js"></script>

</head>

<body ng-app="app">
    <%- body %>

</body>

</html>