<!DOCTYPE html>
<html ng-app="twitter-login">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <script type="text/javascript" src="js/angular.min.js"></script>
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/scripts.js"></script>
   </head>
   <body>
       <div class="container">
           <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand thumbnail" href="#">
        <img alt="Brand" src="https://pbs.twimg.com/profile_images/666407537084796928/YBGgi9BO.png" >
          Twitter +-
      </a>
    </div>
  </div>
</nav>
           <div class="jumbotron">
               <h1>
                   Bem Vindo!
               </h1>
               <div class="row">
                   <div class="col-md-6">
                       <p>
                           Já é cadastrado? Logue aqui
                       </p>
                       <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="Usuario" aria-describedby="basic-addon1">
                       </div>
                       <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">*</span>
                        <input type="text" class="form-control" placeholder="Senha" aria-describedby="basic-addon1">
                       </div>
                       <a href="first-page.html"><button type="submit" class="btn btn-default">Logar</button></a>
                       </div>
                   <div class="col-md-6">
                       <p>
                           Ainda não tem cadastro? Crie um agora!
                       </p>
                       <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="Usuario">
                       </div>
                       <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">*</span>
                        <input type="text" class="form-control" placeholder="Senha">
                       </div>
                       <button type="submit" class="btn btn-default">Criar</button>
                   </div>
                   </div>
               </div>
           </div>
       </div>
   </body>
</html>